* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: #cad7ff;
  padding: 15px;
}

.flex-form {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  text-align: start;
  padding: 20px;
  width: 400px;
  margin: 45px auto 20px;
  border-radius: 15px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.346);
}

.input_form {
  border: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  width: 90%;
}

option {
  margin: 10px;
}

.input_form:focus {
  outline: solid 1px #000;
}

.text-center {
  margin: auto;
  text-align: center;
}

.btn {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  width: 90%;
  margin: 10px;
}

.bg-white {
  background-color: #fff;
}

.index {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  height: 70vh;
}

@media (max-width: 768px) {
  .flex-form {
    width: 95%;
  }
}